.intro{
    text-align: center;
    background-color: rgb(48, 44, 44);
}
.name{
    text-align: center;
    color: blue;
}
.blue{
    color: crimson;

}
.name{
    color: deeppink;
}
.Education{
    text-align: center;
}
.main{
    text-align: center;
}